<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block title %}
        <title>公众平台</title>
    {% endblock title %}


    <!-- Bootstrap Core CSS -->
    <link href="{{ static("css/bootstrap.min.css") }}" rel="stylesheet">


    <!-- MetisMenu CSS -->
    <link href="{{ static("css/metisMenu.min.css") }}" rel="stylesheet">

    <!-- Timeline CSS
    <link href="./dist/css/timeline.css" rel="stylesheet">
    -->
    <!-- DataTables CSS -->
    {#    <link type="text/css" href="{{ static("css/jquery.dataTables.css") }}" rel="stylesheet">#}

    <link type="text/css" href="{{ static('css/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ static('css/dataTables.fixedHeader.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ static('css/dataTables.responsive.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ static('css/dataTables.colVis.css') }}" rel="stylesheet">

    {#设置表格列可以移动#}
    {#    <link type="text/css" href="{{ static('css/dataTables.colReorder.css') }}" rel="stylesheet">#}


    <!-- Custom CSS -->
    <link href="{{ static("css/sb-admin-2.css") }}" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="{{ static('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    {% block css %}

    {% endblock css %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div id="wrapper" class="wrapper">

    <!-- Navigation -->
    {% include 'nav.html' %}


    <div id="page-wrapper" class="page-wrapper">
        {% block pageWrapper %}

            <div class="row">
                <div class="col-sm-6 col-md-4">

                    <div id="Amap" style="width: 100% ; height: 200px;"></div>


                </div>
            </div>


        {% endblock pageWrapper %}
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">控制界面</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        待设置
                        <a type="button" class="btn btn-primary" href="{{ url('sendcmd') }}">发送控制命令</a>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div id="modelMap" style="width: 100% ; height: 200px;"></div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
        d
    </div>
</div>
<!-- /.modal -->


<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="{{ static("js/jquery.js") }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ static("js/bootstrap.min.js") }}"></script>

<!--Baidu Map API -->

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=LYh7SdD7WXOvskvMjCT82SUE"></script>
<script type="text/javascript">
    var Amap = new BMap.Map("Amap");          // 创建地图实例

    var point = new BMap.Point(117.030266, 25.034871);  // 创建点坐标
    Amap.centerAndZoom(point, 14);                 // 初始化地图，设置中心点坐标和地图级别


    var marker = new BMap.Marker(point);  // 创建标注
    Amap.addOverlay(marker);               // 将标注添加到地图中
    marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
</script>
{#<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=LYh7SdD7WXOvskvMjCT82SUE"></script>#}
{#117.030266,25.034871#}
{#月山小学 117.034246,25.058359#}

<!-- DataTables JavaScript -->


<!-- Custom Theme JavaScript -->

<!-- Morris Charts JavaScript
<script src="./bower_components/raphael/raphael-min.js"></script>
<script src="./bower_components/morrisjs/morris.min.js"></script>
<script src="./js/morris-data.js"></script>
-->


<script src="{{ static('js/sb-admin-2.js') }}"></script>

<!-- control the menu with metisMenu-->
<script src="{{ static('js/metisMenu.min.js') }}"></script>

<!-- DataTables JavaScript -->

<script type="text/javascript" charset="utf8" src="{{ static('js/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" charset="utf8" src="{{ static('js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ static('js/dataTables.keyTable.js') }}"></script>
<script src="{{ static('js/dataTables.fixedHeader.js') }}"></script>

{#设置表格列可以移动#}
{#<script src="{{ static('js/dataTables.colReorder.js') }}"></script>#}
<script src="{{ static('js/dataTables.responsive.js') }}"></script>
<script src="{{ static('js/dataTables.colVis.js') }}"></script>

{% block script %}{% endblock script %}


<!-- Metis Menu Plugin JavaScript -->
<script type="text/javascript">

    $("#menu").metisMenu({
        toggle: true,
        doubleTapToGo: true
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {


        $([href={{ url('ajax_tem') }} ]).click(function () { // catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: {'name': $(this).attr('name')}, // get the form data
                //type: 'GET', // GET or POST
                url: $(this).attr('href'), // the file to call; send the data to server
                success: function (responseData) { // on success.. get respose from the server
                    var flag = false;
                    var ob = responseData.ob;
                    var oColumns = responseData.columns;
                    $('#page-wrapper').html(responseData.content_html);             // update the DIV with response
                    var oTable = $('#example').DataTable({
                        serverSide: true,
                        processing: true,

                        //"stateSave": true,//状态保存
                        //"deferRender": true,//延迟渲染
                        //设置滚动条
                        //xxxcxx,'scrollY': 1000,
                        //"scrollCollapse": true,
                        //"scrollX":true,
                        //"autowidth": false,
                        "fixedHeader": true,
                        "responsive": true,
                        "language": {
                            "url": "{{ static('dataTables.chinese.lang') }}"
                        },
                        "ajax": {
                            "url": "{{ url('ajax-dict')  }} ",
                            "type": 'POST'

                        },
                        {#                        "rowCallback": function (row, data, index) {#}
                        {##}
                        {#                        },#}
                        {#                        行设置#}
                        "createdRow": function (row, data, dataIndex) {
                            {# 颜色设置 #}
                            if (ob == 'eqstate') {

                                var state = data['state'];
                                if (state == 0) {
                                    $(row).addClass('success');
                                }
                                else if (state == 1) {
                                    $(row).addClass('info');
                                }
                                else if (state == 2) {
                                    $(row).addClass('warning');
                                }
                                else if (state == 3) {
                                    $(row).addClass('danger');
                                }

                            }
                            else if (ob == 'equip') {
                                rf = data['rent_flag'];
                                mf = data['maintenance_flag'];
                                if (rf == false && mf == false) {
                                    $(row).addClass('success');
                                }
                                else if (rf == true && mf == false) {
                                    $(row).addClass('warning');
                                }
                                else if (rf == false && mf == true) {
                                    $(row).addClass('info');
                                }
                                else if (rf == true && mf == true) {
                                    $(row).addClass('danger');
                                }
                            }

                        },
                        {#                        列设置#}
                        "columnDefs": [
                            {# 参数宽度固定 #}
                            {"width": "15%", "targets": [-5]},
                            {"width": "10%", "targets": [-2]},
                            {"heigh": "5%", "targets": '_all'},
                            {#                                取消控制栏的搜索和排序#}
                            {
                                "searchable": false,
                                "orderable": false,
                                "targets": -1
                            },
                            {# 添加控制按钮 #}
                            {
                                "targets": -1,
                                "data": null,
                                "defaultContent": "<button id='test1' class='btn btn-primary''data-toggle='modal' data-target='#myModal'  >控制</button>"
                            },
                            {#                                居中显示#}
                            {className: "textCenter", "targets": ''},
                            {
                                "targets": '_all',
                                {# 创建单元时回调函数 #}
                                "createdCell": function (td, cellData, rowData, row, col) {
                                    {#                                如果targets为多个，参数则为多组，处理为从左往右，从上到下循环#}
                                    {#                                每一组#}
                                    {#                                td为当前td元素#}
                                    {#                                cellData 当前单元数据#}
                                    {#                                rowData为当前行所有数据#}
                                    {#                                row为当前行索引(从0开始)#}
                                    {#                                col为当前列索引(从0开始)#}

                                    {#                                if (ob == 'equip')#}
                                    {#                                {#}
                                    {#                                 if (col == 5 || col == 6) #}
                                    {#                                 {#}
                                    {#                                    if (cellData == true) {#}
                                    {#                                        $(td).addClass('warning')#}
                                    {#                                    }#}
                                    {#                                    else {#}
                                    {#                                        $(td).addClass('danger')#}
                                    {#                                    }#}
                                    {##}
                                    {#                                 }#}
                                    {#                                }#}
                                    {# 裁剪详细数据 #}
                                    if (col != oColumns.length)
                                        if (ob == 'equip') {
                                            if (cellData === true)

                                                $(td).text('是');


                                            if (cellData === false)
                                                $(td).text('否');

                                            if (col == 9 || col == 12) {
                                                $(td).addClass('control');
                                                $(td).css("cursor", "pointer");
                                                $(td).html('<div class="Details">' + cellData.substr(0, 10) + '...' + '</div>' + '<div class="innerDetails">' + cellData + '</div>');

                                            }

                                        }
                                }


                            }

                        ],
                        {# 表格数据 #}
                        'columns': oColumns,
                        //dom: 'Rlfrtip',
                        {# 定义DOM,表格底部样式 #}
                        dom: 'R<"row"<"col-sm-3" l>' +
                        '<"col-sm-6" f>' +
                        '<"col-sm-3" C>>' +

                        '<"row" <"col-sm-12" tr>>' +

                        '<"row"<"col-sm-6" i>' +

                        '<"col-sm-6" p>>',
                        {# 定义显示列表 #}
                        colVis: {
                            activate: "mouseover",
                            buttonText: "显示列表",
                            "align": "left"
                        },
                        {# 设置按下回车才搜索 #}
                        "initComplete": function () {

                            {#                            $('div.dataTables_filter  input').unbind('keyup search input');#}
                            {#                            $(".dataTables_filter  input").keyup(function (e) {#}
                            {#                                if (e.keyCode == 13) {#}
                            {#                                    oTable.fnFilter(this.value)#}
                            {#                                }#}
                            {#                            });#}

                            {# 应用固定表格头部设置 #}


                            {# 为每一行添加搜索 #}
                            // Setup - add a text input to each footer cell
                            $('#example tfoot th').each(function () {
                                var title = $('#example thead th').eq($(this).index()).text();
                                $(this).html('<input type="text" placeholder="搜索 ' + title + '" />');
                            });


                            // Apply the search
                            {# 应用搜索 #}
                            oTable.columns().every(function () {
                                var column = this;

                                $('input', this.footer()).keyup(function (e) {
                                    if (e.keyCode == 13) {
                                        column
                                                .search(this.value)
                                                .draw();
                                    }

                                });
                            });
                            {#oTable.columns().eq( 0 ).each( function ( colIdx ) {#}
                            {#        $( 'input', oTable.column( colIdx ).footer() ).on( 'keyup change', function () {#}
                            {#            oTable#}
                            {#                .column( colIdx )#}
                            {#                .search( this.value )#}
                            {#                .draw();#}
                            {#        } );#}
                            {#    } );#}

                        }

                    });
                    {#                    点击事件,显示点击到的单元的数据#}
                    {#                    $('#example tbody').on('click', 'td', function () {#}
                    {#                        alert('Clicked on: ' + this.innerHTML);#}
                    {#                    });#}

                    {# 添加点击表格效果 #}
                    {#                    $('#example').addClass('KeyTable');#}
                    {#                    new $.fn.dataTable.KeyTable();#}

                    {##}
                    {#                                        //30s重置#}
                    {#                                        setInterval(function () {#}
                    {#                                            oTable.ajax.reload(null, false); // 刷新表格数据，分页信息不会重置#}
                    {#                                        }, 10000);#}

                    {# 重载表格头 #}
                    {#                    $('.FixedHeader_Cloned').remove();#}
                    {#                    $(window).resize(function () {#}
                    {#                        $('.FixedHeader_Cloned').remove();#}
                    {#                        new $.fn.dataTable.FixedHeader(oTable);#}
                    {#                    });#}
                    {# 修复表格 #}
                    {#                    $('tbody').attr('role', "alert", 'aria-live', "polite", 'aria-relevant', "all")#}
                    {#                            .attr('aria-live', "polite")#}
                    {#                            .attr('aria-relevant', "all");#}


                    {# 显示详细信息 #}

                    $("#example ").on('click', 'td', function () {

                        if (flag) {
                            $('div.innerDetails', $(this)).slideUp();
                            $('div.Details', $(this)).slideDown();
                            flag = false;
                        }
                        else {
                            $('div.innerDetails', $(this)).slideDown();
                            $('div.Details', $(this)).slideUp();
                            flag = true;

                        }
                    }).on('click', 'button', function () {
                        {#                        显示模型框#}
                        var gps_longitude = oTable.cell($(this).parents().parents('tr').children('td').eq(10)).data();
                        var gps_latitude = oTable.cell($(this).parents().parents('tr').children('td').eq(11)).data();


                        $('#myModal').on('shown.bs.modal', function () {


                            // do something...
                            var modelMap = new BMap.Map("modelMap");          // 创建地图实例
                            var point1 = new BMap.Point(gps_latitude, gps_longitude);  // 创建点坐标
                            modelMap.centerAndZoom(point1, 14);                 // 初始化地图，设置中心点坐标和地图级别

                            var modelMarker = new BMap.Marker(point1);  // 创建标注
                            modelMap.addOverlay(modelMarker);               // 将标注添加到地图中
                            modelMarker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
                            {#                            避免重复响应事件#}
                            $(this).off('shown.bs.modal');
                        }).modal('show');


                    });

                    new $.fn.dataTable.FixedHeader(oTable);
                    {# ajax函数结束 #}
                }
            });


            return false;   //avoid submitting the content to server directly
        });

    });


</script>

</body>

</html>
