{% if messages %}
<div  style="position: fixed;bottom: 24px;display: block;z-index:10;">
    {% for message in messages %}

        {% if message.tags %}
            <div id="alert_message" class="alert alert-{{ message.tags }} hidden-sm hidden-xs" role="alert">
        {% else %}
            <div id="alert_message" class="alert alert-danger hidden-sm hidden-xs" role="alert">
        {% endif %}
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times">
            <span aria-hidden="true"></span>
        </i>
    </button>
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    {{ message|striptags }}
    </div>
    {% endfor %}
    </div>
    {% if form %}


    {% for name,message in form.errors.items() %}

        <div class="alert alert-danger hidden-sm hidden-xs" role="alert">

            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times">
                    <span aria-hidden="true"></span>
                </i>
            </button>
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            {{ message|striptags }}

        </div>
    {% endfor %}
        {% endif %}
{% endif %}